/bootstrap/compiled.php
/vendor
/config
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
*.sublime*
*.fuse_hidden*
Thumbs.db
app/storage/systemd/
app/storage/hfc/

# temporary vim files
*.swp

# sublime trash dir
.Trash-1000/
