/bootstrap/compiled.php
/vendor
/config
composer.phar
composer.lock
/node_modules
.env
.DS_Store
*.sublime*
*.fuse_hidden*
Thumbs.db
storage/systemd/
storage/hfc/
storage/framework/
*.orig

# vim (https://github.com/github/gitignore/blob/master/Global/Vim.gitignore)
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
*.sql

# sublime trash dir
.Trash-1000/

sql-reset.sh
cp-script.sh
