[submodule "public/components/assets-admin/plugins/sortable"] # @1.10.2
	path = public/components/assets-admin/plugins/sortable
	url = https://github.com/SortableJS/Sortable
	ignore = all
[submodule "public/components/assets-admin/plugins/vuedraggable"] # @v2.23.2
	path = public/components/assets-admin/plugins/vuedraggable
	url = https://github.com/SortableJS/Vue.Draggable
	ignore = all
[submodule "public/components/assets-admin/plugins/vue-touch-events"]
	path = public/components/assets-admin/plugins/vue-touch-events
	url = https://github.com/jerrybendy/vue-touch-events
[submodule "public/components/assets-admin/plugins/backbone"]
	path = public/components/assets-admin/plugins/backbone
	url = https://github.com/jashkenas/backbone
[submodule "public/components/assets-admin/plugins/joint-js"]
	path = public/components/assets-admin/plugins/joint-js
	url = https://github.com/clientIO/joint.git
[submodule "public/components/assets-admin/plugins/leaflet"]
	path = public/components/assets-admin/plugins/leaflet
	url = https://github.com/Leaflet/Leaflet.git
[submodule "public/components/assets-admin/plugins/leaflet-plugins/heatmap"]
	path = public/components/assets-admin/plugins/leaflet-plugins/heatmap
	url = https://github.com/Leaflet/Leaflet.heat.git
[submodule "public/components/assets-admin/plugins/leaflet-plugins/draw"]
	path = public/components/assets-admin/plugins/leaflet-plugins/draw
	url = https://github.com/Leaflet/Leaflet.draw.git
[submodule "public/components/assets-admin/plugins/leaflet-plugins/toolbar"]
	path = public/components/assets-admin/plugins/leaflet-plugins/toolbar
	url = https://github.com/Leaflet/Leaflet.toolbar.git
[submodule "public/components/assets-admin/plugins/leaflet-plugins/draw-toolbar"]
	path = public/components/assets-admin/plugins/leaflet-plugins/draw-toolbar
	url = https://github.com/justinmanley/leaflet-draw-toolbar.git
[submodule "public/components/assets-admin/plugins/leaflet-plugins/edit"]
	path = public/components/assets-admin/plugins/leaflet-plugins/edit
	url = https://github.com/Leaflet/Leaflet.Editable.git
[submodule "public/components/assets-admin/plugins/leaflet-plugins/google"]
	path = public/components/assets-admin/plugins/leaflet-plugins/google
	url = https://gitlab.com/IvanSanchez/Leaflet.GridLayer.GoogleMutant.git
[submodule "public/components/assets-admin/plugins/leaflet-plugins/pixi-overlay"]
	path = public/components/assets-admin/plugins/leaflet-plugins/pixi-overlay
	url = https://github.com/manubb/Leaflet.PixiOverlay.git
