/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
/node_modules
.env
.DS_Store
*.sublime*
*.vscode*
*.phpintel*
*.fuse_hidden*
Thumbs.db
storage/systemd/
storage/hfc/
storage/framework/
storage/debugbar/
storage/xdebug/

# vim (https://github.com/github/gitignore/blob/master/Global/Vim.gitignore)
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
*.sql

# sublime trash dir
.Trash-1000/

sql-reset.sh
cp-script.sh

# ignore ctags file
tags
/.idea/blade.xml
/.idea/deployment.xml
/.idea/nmsprime.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/webServers.xml
/.idea/workspace.xml
/modules/HfcSnmp/Entities/._.DS_Store
/modules/HfcSnmp/Http/Controllers/._.DS_Store

Documentation/doxyfile.bak
Documentation/doxywarn.log

# ignore queue process pid's
*queue.pid

# ignore debug output from testing
phpunit/*.htm
phpunit/*.txt

# ignore xml files created from template
phpunit/*.xml
