/*General */
body {
    font-family: 'Roboto', "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #348FE2;
    text-decoration:none;
    background-color:transparent;
    -webkit-text-decoration-skip:objects
}

a:hover {
    color:#337AB7;
    text-decoration:underline
}

input[type="checkbox"].form-control {
	margin: 0 auto;
    -webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	width: 34px;
	text-align: center;
	background: #fff !important;
}
input[type="checkbox"].form-control:checked:after {
	content: '\2714';
	font-size: 26px;
}

/* Selectv2 responsive */
.select2-container {
    width: 100% !important;
  }

/* jstree hide Checkbox on root*/
.jstree li.nocheck > a.jstree-anchor > i.jstree-checkbox{
  display:none;
}
/*  icons look cooler with space*/
.fa {
  margin-right: 5px;
}
.widget .fa,.panel .fa {
  margin-right: 0;
}
.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.progress span {
    position: absolute;
    width: 100%;
}

.badge {
    border-radius: 0.25rem;
    padding: 5px 7px;
}

/* Breadcrumb pills custom style */
.tab-overflow .nav.nav-pills {
    white-space: nowrap;
    overflow: hidden;
    display: table;
    margin: 0;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}
.tab-overflow .nav.nav-pills > li,
.tab-overflow.nav.nav-pills > li {
    display: table-cell;
    float: none;
}

.tab-overflow .next-button,
.tab-overflow .prev-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    display: none !important;
    opacity: 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
.tab-overflow .prev-button {
    left: 0;
    right: auto;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.tab-overflow .nav.nav-tabs.nav-tabs-inverse .next-button,
.tab-overflow .nav.nav-tabs.nav-tabs-inverse .prev-button {
    -webkit-box-shadow: 0 0 15px #000;
    box-shadow: 0 0 15px #000;
}
.tab-overflow .nav.nav-tabs.nav-tabs-inverse .prev-button {
    -webkit-box-shadow: 0 0 15px #000;
    box-shadow: 0 0 15px #000;
}
.tab-overflow .next-button a,
.tab-overflow .prev-button a {
    margin: 0;
    background: #283339;
}
/* Interaction pills and search */
.navbar .search-form {
  z-index: 1000;
}

.navbar .search-form .search-btn,
.navbar .search-form .close {
  z-index: 2000;
}

/* adjust navbar settings */
.navbar .search-form {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 54px;
    z-index: 1000;
    transition: all .3s ease;
}
.navbar.navbar-search-toggled .search-form {
    bottom: 0;
}
.navbar .search-form .search-btn,
.navbar .search-form .close {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    color: #616161;
    z-index: 2000;
    text-align: center;
    line-height: 54px;
    background: none;
    border: none;
    padding: 0;
    outline: none;
}
.navbar .search-form .search-btn i, .navbar .search-form .close i {
    line-height: 60px;
}
.navbar .search-form .form-control {
    border: none;
    height: inherit;
    box-shadow: none;
    border-radius: 0;
    color: #212121;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 16px;
}
.navbar .search-form .form-control {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.navbar .search-form .close {
    left: auto;
    right: 0;
    text-shadow: none;
    opacity: 1.0;
}

.navbar {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.14);
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
}

.fade .navbar-form .form-control {
    -webkit-animation: none;
}

.navbar-form .form-control:focus {
    width: 300px;
    animation: expand .2s;
    -webkit-animation: expand .2s;
}
@keyframes expand {
    from { width: 200px; }
    to { width: 300px; }
}
@-webkit-keyframes expand {
    from { width: 200px; }
    to { width: 300px; }
}
.navbar-form .btn-search {
    position: absolute;
    right: 15px;
    top: 13px;
    line-height: 34px;
    height: 30px;
    width: 34px;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
}
.navbar-form .btn-search i {
    line-height: 30px;
    font-size: 20px;
}


@media (max-width: 767px) {
    .page-header {
        font-size: 24px;
    }
    .page-header-fixed {
        padding-top: 101px;
    }
    .sidebar, .sidebar-bg {
        margin-top: 56px;
    }
}

.table>tbody>tr>td {
    vertical-align: middle;
}

table .index_check {
    text-align: center;
}

/* Table Colors*/
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
    background: #e0edff;
    border-color: #b6e2ef;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
    background: #aff7aa;
    border-color: #99dede;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
    background: #ffc2c2;
    border-color: #ffb3b3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
    background: #fafac1;
    border-color: #fbd7a3;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background: #f0f3f5;
    border-color: #e2e7e9;
}

.popover-header{
    margin-top: 0;
}


.card-inverse {
    color: rgba(0, 0, 0, 0.65);
}

.card-inverse .card-header,
.card-inverse .card-footer {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
    color: rgb(0, 0, 0);
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-subtitle,
.card-inverse .card-blockquote .blockquote-footer {
    color: rgba(0, 0, 0, 0.65);
}

.card-inverse .card-link:focus,
.card-inverse .card-link:hover {
    color: rgb(0, 0, 0);
}

.layersDiv {
    background-color: lightgrey !important;
}

@media (max-width: 767px)
/* @grid-float-breakpoint -1 */

{
    .navbar-fixed-top {
        position: relative;
        top: auto;
    }

    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: inherit;
        /* Clear max-height */
    }

    #page-container {
        padding:0px;
    }
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { opacity:0 }
  to { opacity:1 }
}

@keyframes animatebottom {
  from{ opacity:0 }
  to{ opacity:1 }
}
.panel-body {
  overflow-y: auto;
}
.nav-tabs > li.active > a:hover {
  border: 1px solid #ddd !important;
  border-bottom-color: #fff !important;
}

@media(max-width: 1024px)
{
    .card, .ui-sortable
    {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        max-width: 100%;
        margin: 0;
    }

    .widget .d-flex
    {
        display: block;
    }

    #jstree-default ul
    {
        margin: 0;
        padding: 0px !important;
        padding-left: 10px !important;
    }

    #jstree-default ul li
    {
        margin: 0;
        padding: 0px !important;
        padding-left: 10px !important;
    }

    #jstree-default ul li div
    {
        background: #fff;
    }

    .row > [class*="col-"].ui-sortable
    {
        min-height: 0px;
    }
}

.trafficLight {
    pointer-events: none;
    height: 25px;
    box-shadow: 1px 2px 3px #000;
}

.timeline .timeline-icon a{
    width: 20px;
    height: 20px;
    background: #d9e0e7;
}

.timeline > li + li {
    margin-top: 20px;
}

.timeline > .timeline-time .date{
    font-size: 13px;
}
.timeline > .timeline-time .time{
    font-size: 20px;
}
.timeline-header {
    padding-bottom: 0;
}
.timeline .timeline-body:before {
    top: 12px;
}
.timeline .timeline-body {
    padding: 10px 16px;
}
.timeline-header + .timeline-content, .timeline-header + .timeline-footer, .timeline-content + .timeline-footer {
    margin-top: 0;
}

.navbar.navbar-inverse .navbar-brand,
.sidebar .nav > li.active >div,
.sidebar .nav > li.active >div:focus,
.sidebar .nav > li.active >div:hover,
.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a,
.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a,
.page-sidebar-minified .sidebar .nav > li.has-sub.active > a{
    background: #8ec73a;
}
.sidebar .sub-menu > li.active > div >a:before {
    color: #8ec73a;
}

.sidebar .nav > li > div> a {
    color: #a8acb1;
}

.sidebar .nav > li.active > div > a, .sidebar .nav > li.active > div> a:hover, .sidebar .nav > li.active > div > a:focus {
    color: #fff;
    background: #8ec73a;
}
.sidebar .has-sub.expand > .sub-menu {
    display: block;
}

#page-container.page-sidebar-minified .nav li i.fa+span{
  display: none;
}
#page-container.page-sidebar-minified .nav ul.sub-menu li i.fa+span{
  display: inline;
}

.tab-overflow .nav.nav-pills > li, .tab-overflow.nav.nav-pills > li {
    display: inline-block !important;
}

ul.nav.nav-pills li {
    max-height: 50px !important;
    overflow: hidden !important;
    overflow-y: auto !important;
}
