/* Predefined Classes */

.row { margin: 0 -10px; }
.row > [class*="col-"] {  padding: 0 10px; }
.m-auto { margin: 0 auto !important; }
.wrapper { padding: 15px !important; }
.semi-bold { font-weight: 600 !important; }
.overflow-auto { overflow: auto !important; }
.overflow-hidden { overflow: hidden !important; }
.overflow-visible { overflow: visible !important; }
.overflow-scroll { overflow: scroll !important; }
.overflow-x-hidden { overflow-x: hidden !important; }
.overflow-x-visible { overflow-x: visible !important; }
.overflow-x-scroll { overflow-x: scroll !important; }
.overflow-y-hidden { overflow-y: hidden !important; }
.overflow-y-visible { overflow-y: visible !important; }
.overflow-y-scroll { overflow-y: scroll !important; }
.f-w-100 { font-weight: 100 !important; }
.f-w-200 { font-weight: 200 !important; }
.f-w-300 { font-weight: 300 !important; }
.f-w-400 { font-weight: 400 !important; }
.f-w-500 { font-weight: 500 !important; }
.f-w-600 { font-weight: 600 !important; }
.f-w-700 { font-weight: 700 !important; }
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.pull-left { float: left !important; }
.pull-right { float: right !important; }
.pull-none { float: none !important; }


/* LOOP - Row Space */

.row-space-generator(@counter) when (@counter > -1) {
    @nameCounter: (2 * @counter);
    .row.row-space-@{nameCounter} {
        margin: 0 -(1px * @counter) !important;
        & > [class*="col-"] {
            padding: 0 (1px * @counter) !important;
        }
    }
    .row-space-generator((@counter - 1));
}
.row-space-generator(15);


/* LOOP - Margin & Padding */

.margin-padding-css-generator(@counter) when (@counter > -1) {
    .m-@{counter} { margin: (@counter * 1px) !important; }
    .m-t-@{counter} { margin-top: (@counter * 1px) !important; }
    .m-r-@{counter} { margin-right: (@counter * 1px) !important; }
    .m-b-@{counter} { margin-bottom: (@counter * 1px) !important; }
    .m-l-@{counter} { margin-left: (@counter * 1px) !important; }
    
    .p-@{counter} { padding: (@counter * 1px) !important; }
    .p-t-@{counter} { padding-top: (@counter * 1px) !important; }
    .p-r-@{counter} { padding-right: (@counter * 1px) !important; }
    .p-b-@{counter} { padding-bottom: (@counter * 1px) !important; }
    .p-l-@{counter} { padding-left: (@counter * 1px) !important; }
    
    .margin-padding-css-generator((@counter - 1));
}
.margin-padding-css-generator(40);


/* LOOP - Font Size */

.font-size-css-generator(@counter) when (@counter > 7) {
    .f-s-@{counter} { font-size: (@counter * 1px) !important; }
    
    .font-size-css-generator((@counter - 1));
}
.font-size-css-generator(20);


.table-valign-middle th, 
.table-valign-middle td { 
    vertical-align: middle !important;
}
.table-th-valign-middle th,
.table-td-valign-middle td { 
    vertical-align: middle !important;
}
.table-valign-top th, 
.table-valign-top td { 
    vertical-align: top !important;
}
.table-th-valign-top th,
.table-td-valign-top td { 
    vertical-align: top !important;
}
.table-valign-bottom th, 
.table-valign-bottom td { 
    vertical-align: bottom !important;
}
.table-th-valign-bottom th,
.table-td-valign-bottom td { 
    vertical-align: bottom !important;
}
.vertical-box {
    display: table; 
    table-layout: fixed; 
    border-spacing: 0; 
    height: 100%;
    width: 100%;
}
.vertical-box-column {
    display: table-cell;
    vertical-align: top;
    height: 100%;
}
.vertical-box-row {
    display: table-row;
    height: 100%;
}
.vertical-box-row > .vertical-box-cell {
    position: relative;
    height: 100%;
    width: 100%;
    float: none;
}
.vertical-box-row > .vertical-box-cell > .vertical-box-inner-cell {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.panel-expand .vertical-box .vertical-box-column {
    display: table-cell;
}
.page-content-full-height .content {
    position: absolute;
    left: 0;
    top: 54px;
    right: 0;
    bottom: -1px;
}
.no-rounded-corner { 
    .border-radius(0) !important;
}
.rounded-corner {
    .border-radius(50%) !important;
}
.no-border { border: 0 !important; }
.border-top-1 { border-top: 1px solid @grey_200 !important; }
.border-right-1 { border-right: 1px solid @grey_200 !important; }
.border-bottom-1 { border-bottom: 1px solid @grey_200 !important; }
.border-left-1 { border-left: 1px solid @grey_200 !important; }
.no-box-shadow {
    .box-shadow(none) !important;
}




/* GENERATOR - CSS Color Class  */

.generate-color-css(@className, @color50, @color100, @color200, @color300, @color400, @color500, @color600, @color700, @color800, @color900, @similarClassName) {
    .bg-@{similarClassName} when not (@similarClassName = '') {
        background: @color500 !important; 
    }
    a.text-@{similarClassName}:hover when not (@similarClassName = '') {
        color: @color700 !important; 
    }
    a.text-@{similarClassName}:focus when not (@similarClassName = '') {
        color: @color700 !important; 
    }
    .text-@{similarClassName} when not (@similarClassName = '') {
        color: @color500 !important; 
    }
    .panel-@{similarClassName} .panel-heading when not (@similarClassName = '') {
        background: @color500 !important; 
    }
    
    .bg-@{className},
    .bg-@{className}-500,
    .panel-@{className} .panel-heading { 
        background: @color500 !important; 
    }
    .bg-@{className}-50 { background: @color50 !important; }
    .bg-@{className}-100 { background: @color100 !important; }
    .bg-@{className}-200 { background: @color200 !important; }
    .bg-@{className}-300 { background: @color300 !important; }
    .bg-@{className}-400 { background: @color400 !important; }
    .bg-@{className}-600 { background: @color600 !important; }
    .bg-@{className}-700 { background: @color700 !important; }
    .bg-@{className}-800 { background: @color800 !important; }
    .bg-@{className}-900 { background: @color900 !important; }
    .text-@{className},
    .text-@{className}-500 { 
        color: @color500 !important; 
    }
    a.text-@{className}:hover,
    a.text-@{className}:focus { 
        color: @color700 !important; 
    }
    .text-@{className}-50 { color: @color50 !important; }
    .text-@{className}-100 { color: @color100 !important; }
    .text-@{className}-200 { color: @color200 !important; }
    .text-@{className}-300 { color: @color300 !important; }
    .text-@{className}-400 { color: @color400 !important; }
    .text-@{className}-600 { color: @color600 !important; }
    .text-@{className}-700 { color: @color700 !important; }
    .text-@{className}-800 { color: @color800 !important; }
    .text-@{className}-900 { color: @color900 !important; }
}

// red
.generate-color-css(red, @red_50, @red_100, @red_200, @red_300, @red_400, @red_500, @red_600, @red_700, @red_800, @red_900, danger);

// pink
.generate-color-css(pink, @pink_50, @pink_100, @pink_200, @pink_300, @pink_400, @pink_500, @pink_600, @pink_700, @pink_800, @pink_900, '');

// purple
.generate-color-css(purple, @purple_50, @purple_100, @purple_200, @purple_300, @purple_400, @purple_500, @purple_600, @purple_700, @purple_800, @purple_900, '');

// deep-purple
.generate-color-css(deep_purple, @deep_purple_50, @deep_purple_100, @deep_purple_200, @deep_purple_300, @deep_purple_400, @deep_purple_500, @deep_purple_600, @deep_purple_700, @deep_purple_800, @deep_purple_900, '');

// indigo
.generate-color-css(indigo, @indigo_50, @indigo_100, @indigo_200, @indigo_300, @indigo_400, @indigo_500, @indigo_600, @indigo_700, @indigo_800, @indigo_900, '');

// blue
.generate-color-css(blue, @blue_50, @blue_100, @blue_200, @blue_300, @blue_400, @blue_500, @blue_600, @blue_700, @blue_800, @blue_900, primary);

// light-blue
.generate-color-css(light-blue, @light_blue_50, @light_blue_100, @light_blue_200, @light_blue_300, @light_blue_400, @light_blue_500, @light_blue_600, @light_blue_700, @light_blue_800, @light_blue_900, info);

// cyan
.generate-color-css(cyan, @cyan_50, @cyan_100, @cyan_200, @cyan_300, @cyan_400, @cyan_500, @cyan_600, @cyan_700, @cyan_800, @cyan_900, '');

// teal
.generate-color-css(teal, @teal_50, @teal_100, @teal_200, @teal_300, @teal_400, @teal_500, @teal_600, @teal_700, @teal_800, @teal_900, success);

// green
.generate-color-css(green, @green_50, @green_100, @green_200, @green_300, @green_400, @green_500, @green_600, @green_700, @green_800, @green_900, '');

// light-green
.generate-color-css(light-green, @light_green_50, @light_green_100, @light_green_200, @light_green_300, @light_green_400, @light_green_500, @light_green_600, @light_green_700, @light_green_800, @light_green_900, '');

// lime
.generate-color-css(lime, @lime_50, @lime_100, @lime_200, @lime_300, @lime_400, @lime_500, @lime_600, @lime_700, @lime_800, @lime_900, '');

// yellow
.generate-color-css(yellow, @yellow_50, @yellow_100, @yellow_200, @yellow_300, @yellow_400, @yellow_500, @yellow_600, @yellow_700, @yellow_800, @yellow_900, '');

// amber
.generate-color-css(amber, @amber_50, @amber_100, @amber_200, @amber_300, @amber_400, @amber_500, @amber_600, @amber_700, @amber_800, @amber_900, '');

// orange
.generate-color-css(orange, @orange_50, @orange_100, @orange_200, @orange_300, @orange_400, @orange_500, @orange_600, @orange_700, @orange_800, @orange_900, warning);

// deep-orange
.generate-color-css(deep-orange, @deep_orange_50, @deep_orange_100, @deep_orange_200, @deep_orange_300, @deep_orange_400, @deep_orange_500, @deep_orange_600, @deep_orange_700, @deep_orange_800, @deep_orange_900, '');

// brown
.generate-color-css(brown, @brown_50, @brown_100, @brown_200, @brown_300, @brown_400, @brown_500, @brown_600, @brown_700, @brown_800, @brown_900, '');

// grey
.generate-color-css(grey, @grey_50, @grey_100, @grey_200, @grey_300, @grey_400, @grey_500, @grey_600, @grey_700, @grey_800, @grey_900, default);
.panel-default .panel-heading { 
    background: @grey_300 !important; 
}
.panel-grey .panel-heading { 
    background: @grey_900 !important; 
}
.text-grey,
.text-muted,
.text-grey-500 { 
    color: @grey_500 !important; 
}

// blue-grey
.generate-color-css(blue-grey, @blue_grey_50, @blue_grey_100, @blue_grey_200, @blue_grey_300, @blue_grey_400, @blue_grey_500, @blue_grey_600, @blue_grey_700, @blue_grey_800, @blue_grey_900, '');
.panel-blue-grey .panel-heading { 
    background: @blue_grey_900 !important; 
}

.text-black,
.text-inverse {
    color: @black !important;
}
.bg-black,
.bg-inverse,
.panel-black .panel-heading,
.panel-inverse .panel-heading { 
    background: @black !important;
}
.text-white {
    color: @white !important;
}
.bg-white,
.panel-white .panel-heading { 
    background: @white !important;
}


.no-bg { background: none !important; }

.height-xs { height: 150px !important; }
.height-sm { height: 300px !important; }
.height-md { height: 450px !important; }
.height-lg { height: 600px !important; }
.height-full { height: 100% !important; }
.height-50 { height: 50px !important; }
.height-100 { height: 100px !important; }
.height-150 { height: 150px !important; }
.height-200 { height: 200px !important; }
.height-250 { height: 250px !important; }
.height-300 { height: 300px !important; }
.height-350 { height: 350px !important; }
.height-400 { height: 400px !important; }
.height-450 { height: 450px !important; }
.height-500 { height: 500px !important; }
.height-550 { height: 550px !important; }
.height-600 { height: 600px !important; }

.width-xs { width: 150px !important; }
.width-sm { width: 300px !important; }
.width-md { width: 450px !important; }
.width-lg { width: 600px !important; }
.width-full { width: 100% !important; }
.width-50 { width: 50px !important; }
.width-100 { width: 100px !important; }
.width-150 { width: 150px !important; }
.width-200 { width: 200px !important; }
.width-250 { width: 250px !important; }
.width-300 { width: 300px !important; }
.width-350 { width: 350px !important; }
.width-400 { width: 400px !important; }
.width-450 { width: 450px !important; }
.width-500 { width: 500px !important; }
.width-550 { width: 550px !important; }
.width-600 { width: 600px !important; }

.animated {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fade {
    .opacity(0);
    .transition(opacity .3s linear);
}
.fade.in {
    .opacity(1);
}
.text-ellipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
.underline {
    border-bottom: 1px solid #e2e7eb !important;
}