/* Mixins */

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}
.opacity(@opacity) {
    opacity: @opacity;
}
.transition(@transition) {
    -webkit-transition: @transition;
       -moz-transition: @transition;
        -ms-transition: @transition;
         -o-transition: @transition;
            transition: @transition;
}
.animation(@animation) {
    -webkit-animation: @animation;
       -moz-animation: @animation;
            animation: @animation;
}
.generate-button-styling(@buttonClassName; @buttonTextColor; @defaultColor; @hoverColor; @btnGroupBorderColor) {
    .btn.@{buttonClassName} {
        color: @buttonTextColor;
        background: @defaultColor;
        border-color: @defaultColor;
        
        &:hover, 
        &:focus, 
        &:active, 
        &:active:focus,
        &.focus,
        &.active,
        &.active.focus, 
        &.active:focus, 
        &.active:hover, 
        &:active.focus, 
        &:active:focus, 
        &:active:hover {
            background: @hoverColor;
            border-color: @hoverColor;
        }
    }
    .open > .dropdown-toggle.@{buttonClassName},
    .open > .dropdown-toggle.@{buttonClassName}.focus, 
    .open > .dropdown-toggle.@{buttonClassName}:focus, 
    .open > .dropdown-toggle.@{buttonClassName}:hover  {
        background: @hoverColor;
        border-color: @hoverColor;
    }
    .btn.@{buttonClassName}.disabled, 
    .btn.@{buttonClassName}[disabled], 
    fieldset[disabled] .btn@{buttonClassName},
    .btn.@{buttonClassName}.active,
    .btn.@{buttonClassName}.active.focus, 
    .btn.@{buttonClassName}.active:hover,
    .btn.@{buttonClassName}.active:focus,
    .btn.@{buttonClassName}:active:focus, 
    .btn.@{buttonClassName}:active:hover {
        border-color: @btnGroupBorderColor;
    }
    .btn-group .btn.@{buttonClassName}:not(.active) + .btn.@{buttonClassName},
    .input-group-btn .btn.@{buttonClassName}:not(.active) + .btn.@{buttonClassName} {
        border-left-color: @btnGroupBorderColor;
    }
}