[Unit]
Description=Controlling-Deamon for Provisioning-related-Services
Documentation=
Wants=network-online.target
After=network-online.target
After=time-sync.target

[Service]
Type=simple
ExecStart=/opt/rh/rh-php73/root/usr/bin/php -f /var/www/nmsprime/app/extensions/systemd/nmsd.php

[Install]
WantedBy=multi-user.target
