/* Alert */

.alert {
    border: none;
}
.alert.alert-success {
    background: @teal_100;
    color: @teal_900;
}
.alert.alert-info {
    background: @light_blue_100;
    color: @light_blue_900;
}
.alert.alert-danger {
    background: @red_100;
    color: @red_900;
}
.alert.alert-warning {
    background: @orange_100;
    color: @orange_900;
}


/* Note Setting */

.note {
    margin-bottom: 20px;
    padding: 15px;
    border-left: 3px solid;
}
.note.note-success {
    border-color: @teal_500;
    background: @teal_100;
    color: @teal_900;
}
.note.note-success h1, 
.note.note-success h2, 
.note.note-success h3, 
.note.note-success h4, 
.note.note-success h5, 
.note.note-success h6 {
    color: @teal_900;
}
.note.note-danger {
    border-color: @red_500;
    background: @red_100;
    color: @red_900;
}
.note.note-danger h1, 
.note.note-danger h2, 
.note.note-danger h3, 
.note.note-danger h4, 
.note.note-danger h5, 
.note.note-danger h6 {
    color: @red_900;
}
.note.note-info {
    border-color: @light_blue_500;
    background: @light_blue_100;
    color: @light_blue_900;
}
.note.note-info h1, 
.note.note-info h2, 
.note.note-info h3, 
.note.note-info h4, 
.note.note-info h5, 
.note.note-info h6 {
    color: @light_blue_900;
}
.note.note-warning {
    border-color: @orange_500;
    background: @orange_100;
    color: @orange_900;
}
.note.note-warning h1, 
.note.note-warning h2, 
.note.note-warning h3, 
.note.note-warning h4, 
.note.note-warning h5, 
.note.note-warning h6 {
    color: @orange_900;
}