/* Dropdown Menu */

.dropdown-menu {
    border: none;
    padding: 10px 0;
    font-size: 13px;
    .box-shadow(0 1px 3px rgba(0,0,0,0.25));
    
    & > li > a {
        padding: 5px 15px;
        
        &:hover, 
        &:focus {
            background: @grey_100;
        }
    }
    & > .active > a, 
    & > .active > a:hover, 
    & > .active > a:focus {
        background: @blue_500;
    }
    & .divider {
        border-color: @grey_200;
    }
    &.media-list {
        max-width: 280px;
        padding: 0;
        
        & p {
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 4px;
            max-width: 205px;
        }
        & .dropdown-header {
            padding: 10px 15px !important;
            background: @grey_300;
            position: relative;
            margin-bottom: -1px;
        }
        & > .media {
            margin-top: 0;
            border-top: 1px solid @grey_300;
            border-bottom: 1px solid @grey_300;
            margin-bottom: -1px;
            
            &.active {
                border-color: @blue_500;
                color: @blue_100 !important;
                position: relative;
                & .media-heading {
                    color: @white;
                }
            }
            & > a {
                display: block;
                padding: 10px 15px !important;
            }
            & .media-left {
                padding-right: 10px;
            }
            & .media-right {
                padding-left: 10px;
            }
            & .media-object {
                height: 36px;
                width: 36px;
                line-height: 36px;
                font-size: 14px;
                color: @white;
                text-align: center;
                .border-radius(2px);
                
                &.material-icons {
                    font-size: 24px;
                }
            }
        }
    }
    & .dropdown-footer {
        padding: 10px 20px;
    }
    & > li.dropdown-footer > a {
        padding: 0 !important;
        display: inline !important;
    }
    & > li.dropdown-footer > a:hover,
    & > li.dropdown-footer > a:focus {
        background: none !important;
        text-decoration: underline !important;
    }
}