/* List Group Item Inverse Setting */

.list-group-item.list-group-item-inverse {
    background: @grey_900;
    border-color: @black;
    color: @white;
}
.list-group-item.list-group-item-inverse .label-inverse, 
.list-group-item.list-group-item-inverse .badge-inverse {
    background: @grey_900;
    background: rgba(0,0,0,0.5);
}
.list-group-item.list-group-item-inverse:hover, 
.list-group-item.list-group-item-inverse:focus {
    color: @white;
    background: @black;
    background: #111;
}
