/* Progress bar */

.progress {
    .box-shadow(none);
    background: @grey_300;
}
.progress-xs {
    height: 5px;
}
.progress-xs .progress-bar {
    line-height: 5px;
}
.progress-sm {
    height: 10px;
}
.progress-sm .progress-bar {
    line-height: 10px;
}
.progress-lg {
    height: 30px;
}
.progress-lg .progress-bar {
    line-height: 30px;
}
.progress-bar {
    background: @blue_500;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar.progress-bar-success {
    background-color: @teal_500;
}
.progress-bar.progress-bar-info {
    background-color: @light_blue_500;
}
.progress-bar.progress-bar-warning {
    background-color: @orange_500;
}
.progress-bar.progress-bar-danger {
    background-color: @red_500;
}
.progress-bar.progress-bar-inverse {
    background-color: @grey_900;
}